NET "clk" LOC = C9;
NET "reset" LOC = K17;
NET "VGA_RED" LOC = H14; 
NET "VGA_GREEN" LOC = H15; 
NET "VGA_BLUE" LOC = G15;
NET "VGA_HSYNC" LOC = F15;
NET "VGA_VSYNC" LOC = F14;
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;


